/* Put your CSS rules here: */
.creepy_picture {
	border: 10px blue solid;
	padding: 10px 10px 0 0;
}
.picture_container {
	background-color: black;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline{
	text-decoration: underline;
}

.tiled_container div {
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	height: 10px;
}

/* These are for the exercise, please don't edit them! */
html,body{margin:0;padding:0;}
body{font-family:sans-serif;}
.content{width:980px;padding:10px;}
